.pokemonList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
}

.list-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.pokemon {
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #446DF6;
  padding: 10px;
  text-align: center;
}

.no-pokemon {
  text-align: center;
}

button {
  margin: 10px;
  border-radius: 5px;
  padding: 10px;
  font-size: large;
  font-weight: bold;
  background-color: #78C850;
}

.pokemon h2 {
    margin: 1px;
    color: #fcfcfc;
    text-shadow: 2px 2px #757575;
    font-family: 'consolas', monospace;
}

h1, p {
    margin-left: 10px;
    color: #fcfcfc;
    text-shadow: 2px 2px #757575;
    font-family: 'consolas', monospace;
}

/* .pokemon .name {
  position: absolute;
  top: 50%;
  left: 10px;
  size: 150%;
} */

.pokemon h5 {
    font-size: 16px;
    margin-top: 0;
    color: #fdd700;
}

.pokemon .image {
  width: 50%;
  transition: transform 0.25s ease-in-out;
  top: 5%;
  left: 20%;
}

.pokemon .image:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.pokemon .typesList{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pokemon .type {
    background-color: var(--type-color);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    padding: 5px 10px;
    margin: 20px;
    color: #ffffff;
    top: 30%;
    right: 0px;
    width: fit-content;
    align-self: center;
}
/* .type + .type{
  margin-top: 100px;
} */
  
  .pokemon .normal {
    --type-color: #A8A878;
  }
  
  .pokemon .fighting {
    --type-color: #C03028;
  }
  
  .pokemon .flying {
    --type-color: #A890F0;
  }
  
  .pokemon .poison {
    --type-color: #A040A0;
  }
  
  .pokemon .ground {
    --type-color: #E0C068;
  }
  
  .pokemon .rock {
    --type-color: #B8A038;
  }
  
  .pokemon .bug {
    --type-color: #A8B820;
  }
  
  .pokemon .ghost {
    --type-color: #705898;
  }
  
  .pokemon .steel {
    --type-color: #B8B8D0;
  }
  
  .pokemon .fire {
    --type-color: #F08030;
  }
  
  .pokemon .water {
    --type-color: #6890F0;
  }
  
  .pokemon .grass {
    --type-color: #78C850;
  }
  
  .pokemon .electric {
    --type-color: #F8D030;
  }
  
  .pokemon .psychic {
    --type-color: #F85888;
  }
  
  .pokemon .ice {
    --type-color: #98D8D8;
  }
  
  .pokemon .dragon {
    --type-color: #7038F8;
  }
  
  .pokemon .dark {
    --type-color: #705848;
  }
  
  .pokemon .fairy {
    --type-color: #EE99AC;
  }
  
  .pokemon .unknown {
    --type-color: #68A090;
  }
  
  .pokemon .shadow {
    --type-color: #A890F0;
  }