<div class="containerRegister">
    <h2>Register</h2>
    <img src="https://pokemon314.weebly.com/uploads/9/8/4/7/9847699/973538016.jpg?224" alt="Professor Oak">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <a [routerLink]="['/login']" routerLinkActive="active" class="return">Go to Login</a>
        <label>
            Username: 
            <input type="email" formControlName="username" class="form-control">
        </label>
        <label>
            Password: 
            <input type="password" formControlName="password" class="form-control">
        </label>

        <button type="submit">Register</button>
    </form>

    <div *ngIf="submitted && username?.invalid && (username?.dirty || username?.touched)" class="alert-danger">
        <div *ngIf="username?.errors?.['required']">Username is required</div>
        <div *ngIf="username?.errors?.['email']">Username must be an email</div>
    </div>

    <div *ngIf="submitted && password?.invalid && (password?.dirty || password?.touched)" class="alert-danger">
        <div *ngIf="password?.errors?.['required']">Password is required</div>
        <div *ngIf="password?.errors?.['minlength']">Password must be at least 8 characters long</div>
        <div *ngIf="password?.errors?.['maxlength']">Password cannot exceed 16 characters</div>
    </div>

    <div *ngIf="errorMessage != ''" class="error">{{errorMessage}}</div>

    <div *ngIf="success" class="success">
        <h2>User register was a success! Entering the app</h2>
    </div>
</div>