.app-pokemon-list {
    background-color: darkgoldenrod;
    display: flex;
    position: absolute;
    top: 0%;
    width: fit-content;
}

.app-pokemon-detail {
    position: fixed;
    top: 0%;
    right: 0%;
}