.app-pokemon-list {
    background-color: darkgoldenrod;
    width: fit-content;
    height: fit-content;
    border: 1px;
    border-radius: 5px;
}

.app-pokemon-detail {
    display: grid;
    justify-items: center;
    position: absolute;
}

.container {
    justify-content: center;
    display: flex;
}