h2, h1, h3 {
    margin: 0px;
    color: #fcfcfc;
    text-shadow: 2px 2px #757575;
    height: fit-content;
    width: fit-content;
}

h1, h3{
    margin: 5px;
}

.selected {
  display: flex;
  justify-content: space-between;
  background-color:#aaa50d; /* Ajusta el color de fondo según tus preferencias */
  padding: 20px;
  margin: 60px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Sombra para resaltar el modal */
  color: #fcfcfc;
  text-shadow: 2px 2px #757575ad;
  font-family: 'consolas', monospace;
  position: fixed;
  top: 10%;
  align-self: center;
}

.selected img {
  width: 450px; /* Ajusta el ancho de la imagen */
  height: auto;
  border-radius: 5px;
}

.stats {
  flex: 1;
  margin: 20px 20px 0 0;
}

.stats h3 {
  margin: 5px 0;
}

.typesList {
  margin-top: 20px;
}

.type {
    background-color: var(--type-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
    margin: 10px;
    color: #ffffff;
    top: 30%;
    right: 0px;
    width: fit-content;
    height: fit-content;
}

.normal {
    --type-color: #A8A878;
  }
  
  .fighting {
    --type-color: #C03028;
  }
  
  .flying {
    --type-color: #A890F0;
  }
  
  .poison {
    --type-color: #A040A0;
  }
  
  .ground {
    --type-color: #E0C068;
  }
  
  .rock {
    --type-color: #B8A038;
  }
  
  .bug {
    --type-color: #A8B820;
  }
  
  .ghost {
    --type-color: #705898;
  }
  
  .steel {
    --type-color: #B8B8D0;
  }
  
  .fire {
    --type-color: #F08030;
  }
  
  .water {
    --type-color: #6890F0;
  }
  
  .grass {
    --type-color: #78C850;
  }
  
  .electric {
    --type-color: #F8D030;
  }
  
  .psychic {
    --type-color: #F85888;
  }
  
  .ice {
    --type-color: #98D8D8;
  }
  
  .dragon {
    --type-color: #7038F8;
  }
  
  .dark {
    --type-color: #705848;
  }
  
  .fairy {
    --type-color: #EE99AC;
  }
  
  .unknown {
    --type-color: #68A090;
  }
  
  .shadow {
    --type-color: #A890F0;
  }

.close {
  display: flex;
  position: absolute;
  top: 1%;
  right: 1%;
  padding: 5px;
  background-color: crimson;
  border-radius: 10px;
  font-weight: bold;
}