<div class="container">
    <h1>Welcome to the PokeStore App!</h1>
    <br>
    <h2>
        Here you can see the information about all the 151 Pokemon from the Kanto region.
        <br>
        You can also play a quick question game and gain Pokeballs for you to capture your favorite Pokemon!
    </h2>
    <br>
    <h3>Just <a routerLink="/register">register here</a> and catch'em all!</h3>
    <h3>Don't wanna register? No matter! You can still access the information and play using the navigation above.
        <br>
        <br>
        Have fun!
    </h3>

    <img [src]="randomPokemon?.image">
</div>