<p>login works!</p>
<div class="container">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <input type="email" formControlName="username" class="form-control">
        <input type="password" formControlName="password" class="form-control">
    </form>

    <p>No tienes una cuenta? <a routerLink="/register">Regístrate</a></p>

    <div *ngIf="username?.invalid && (username?.dirty || username?.touched)" class="alert alert-danger">
        <div *ngIf="username?.errors?.['required']">Username is required</div>
        <div *ngIf="username?.errors?.['email']">Username must be an email</div>
    </div>

    <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="alert alert-danger">
        <div *ngIf="password?.errors?.['required']">Password is required</div>
        <div *ngIf="password?.errors?.['minlength']">Password must be at least 8 characters long</div>
        <div *ngIf="password?.errors?.['maxlength']">Password cannot exceed 16 characters</div>
    </div>
</div>