h2, h1, h3 {
    margin: 0px;
    color: #fcfcfc;
    text-shadow: 2px 2px #757575;
    font-family: 'consolas', monospace;
    position: relative;
}

h1, h3{
    margin: 5px;
}

.container{
    background-image: url(https://3fc4ed44-3fbc-419a-97a1-a29742511391.selcdn.net/coub_storage/coub/simple/cw_timeline_pic/0505d7aa1d7/6348a70a2ba5379719066/med_1587331793_image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: flex-start;
    width: 60%;
    top: 15%;
    left: 20%;
    border: 5px solid;
    border-radius: 10px;
    flex-direction: column;
    height: max-content;
    padding: 10px;
    position: sticky;
    margin: auto;
    margin-top: 15px;
}

.title{
    background-color: dimgrey;
    padding: 10px;
    border: solid;
    border-radius: 10px;
    border-style: outset;
    margin-left: auto;
}

.success {
    background-color: green;
    bottom: 2%;
    left: 1%;
    padding: 0px 5px;
}

.failure {
    background-color: orangered;
    bottom: 2%;
    left: 1%;
    padding: 0px 5px;
}

.QA{
    width: 600px;
    height: 560px;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.streak{
    background-color: dodgerblue;
    bottom: 2%;
    right: 1%;
    padding: 0px 5px;
}

.success, .failure, .streak {
    position: absolute;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px #757575;
}

.options {
    color: #fcfcfc;
    text-shadow: 2px 2px #757575;
    font-family: 'consolas', monospace;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    position: relative;
    align-items: flex-end;
}

.option{
    margin: 10px 0px;
}

.image{
    width: 50%;
    align-self: center;
    position: absolute;
    top: 0%;
    left: 10%;
}