h2, h1, h3 {
    margin: 0px;
    color: #fcfcfc;
    text-shadow: 2px 2px #757575;
    font-family: 'consolas', monospace;
    position: relative;
}

h1, h3{
    margin: 5px;
}

.container{
    background-color: chocolate;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
    top: 15%;
    left: 25%;
    border: 5px;
    border-radius: 10px;
    flex-direction: column;
    height: max-content;
    padding: 10px;
    position: relative;
}

.title{
    background-color: dimgrey;
    padding: 10px;
    border: solid;
    border-radius: 10px;
    border-style: outset;
}

.success {
    background-color: green;
    bottom: 2%;
    left: 1%;
    padding: 0px 5px;
}

.failure {
    background-color: orangered;
    bottom: 2%;
    left: 1%;
    padding: 0px 5px;
}

.QA{
    width: 600px;
    height: 560px;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.streak{
    background-color: dodgerblue;
    bottom: 2%;
    right: 1%;
    padding: 0px 5px;
}

.success, .failure, .streak {
    position: absolute;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px #757575;
}

.options {
    color: #fcfcfc;
    text-shadow: 2px 2px #757575;
    font-family: 'consolas', monospace;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
    position: relative;
}

.option {
    margin: 0 10px;  /* Añadir un pequeño margen entre las opciones */
}

.image{
    width: 75%;
    align-self: center;
}