<div class="container">
    <h1 class="title">Who's that Pokemon?</h1>
    <div *ngIf="selectedPokemon != null" class="QA">
        <img [src]="selectedPokemon.image" [alt]="'Sorry, the image does not exists, it`s: ' + selectedPokemon.name">
        <div class="options">
            <div *ngFor="let option of pokemon">
                <label for="{{option?.name}}">
                    <input type="radio" (click)="answerQuestion(option?.name)"> {{option?.name?.toUpperCase()}}
                </label>
            </div>
        </div>
        <h2 *ngIf="showSuccessMessage" class="success">
            Correct! It's {{selectedPokemon.name?.toUpperCase()}}!
        </h2>
        <h2  class="failure">
            Oh, that's too bad! It's {{selectedPokemon.name?.toUpperCase()}}!
        </h2>
    </div>
    <h2 class="streak" *ngIf="onStreak && streak > 1">On a streak! Streak: {{streak}}</h2>
</div>